/**
 */
th.actions,
td.actions {
    width: 60px;
    text-align: right;
}

td.actions form {
    display: inline-block;
}

th.name {
    width: 20%;
}

th.updated {
    width: 12em;
}

form .buttons {
    text-align: right;
}

a {
    cursor: pointer;
}